<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmershao.stock.persistence.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.farmershao.stock.persistence.model.Account">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="trade_server_ip" jdbcType="VARCHAR" property="tradeServerIp" />
    <result column="trade_port" jdbcType="INTEGER" property="tradePort" />
    <result column="stock_jobber_id" jdbcType="INTEGER" property="stockJobberId" />
    <result column="stock_exchange_id" jdbcType="INTEGER" property="stockExchangeId" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="bankroll_account" jdbcType="VARCHAR" property="bankrollAccount" />
    <result column="account_password" jdbcType="VARCHAR" property="accountPassword" />
    <result column="communication_password" jdbcType="VARCHAR" property="communicationPassword" />
    <result column="financing" jdbcType="INTEGER" property="financing" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="is_able" jdbcType="INTEGER" property="isAble" />
    <result column="qs_flag" jdbcType="INTEGER" property="qsFlag" />
    <result column="amount_limit" jdbcType="DECIMAL" property="amountLimit" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="collateral" jdbcType="INTEGER" property="collateral" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, trade_server_ip, trade_port, stock_jobber_id, stock_exchange_id, account_type, 
    account_no, bankroll_account, account_password, communication_password, financing, 
    delete_flag, is_able, qs_flag, amount_limit, created_at, updated_at, collateral
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.farmershao.stock.persistence.model.Account" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeServerIp != null">
        trade_server_ip,
      </if>
      <if test="tradePort != null">
        trade_port,
      </if>
      <if test="stockJobberId != null">
        stock_jobber_id,
      </if>
      <if test="stockExchangeId != null">
        stock_exchange_id,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="accountNo != null">
        account_no,
      </if>
      <if test="bankrollAccount != null">
        bankroll_account,
      </if>
      <if test="accountPassword != null">
        account_password,
      </if>
      <if test="communicationPassword != null">
        communication_password,
      </if>
      <if test="financing != null">
        financing,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="isAble != null">
        is_able,
      </if>
      <if test="qsFlag != null">
        qs_flag,
      </if>
      <if test="amountLimit != null">
        amount_limit,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="collateral != null">
        collateral,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeServerIp != null">
        #{tradeServerIp,jdbcType=VARCHAR},
      </if>
      <if test="tradePort != null">
        #{tradePort,jdbcType=INTEGER},
      </if>
      <if test="stockJobberId != null">
        #{stockJobberId,jdbcType=INTEGER},
      </if>
      <if test="stockExchangeId != null">
        #{stockExchangeId,jdbcType=INTEGER},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="bankrollAccount != null">
        #{bankrollAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null">
        #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="communicationPassword != null">
        #{communicationPassword,jdbcType=VARCHAR},
      </if>
      <if test="financing != null">
        #{financing,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="isAble != null">
        #{isAble,jdbcType=INTEGER},
      </if>
      <if test="qsFlag != null">
        #{qsFlag,jdbcType=INTEGER},
      </if>
      <if test="amountLimit != null">
        #{amountLimit,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="collateral != null">
        #{collateral,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farmershao.stock.persistence.model.Account">
    <!--@mbg.generated-->
    update account
    <set>
      <if test="tradeServerIp != null">
        trade_server_ip = #{tradeServerIp,jdbcType=VARCHAR},
      </if>
      <if test="tradePort != null">
        trade_port = #{tradePort,jdbcType=INTEGER},
      </if>
      <if test="stockJobberId != null">
        stock_jobber_id = #{stockJobberId,jdbcType=INTEGER},
      </if>
      <if test="stockExchangeId != null">
        stock_exchange_id = #{stockExchangeId,jdbcType=INTEGER},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="accountNo != null">
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="bankrollAccount != null">
        bankroll_account = #{bankrollAccount,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null">
        account_password = #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="communicationPassword != null">
        communication_password = #{communicationPassword,jdbcType=VARCHAR},
      </if>
      <if test="financing != null">
        financing = #{financing,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="isAble != null">
        is_able = #{isAble,jdbcType=INTEGER},
      </if>
      <if test="qsFlag != null">
        qs_flag = #{qsFlag,jdbcType=INTEGER},
      </if>
      <if test="amountLimit != null">
        amount_limit = #{amountLimit,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="collateral != null">
        collateral = #{collateral,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>