<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmershao.stock.persistence.mapper.DelayFeeMapper">
  <resultMap id="BaseResultMap" type="com.farmershao.stock.persistence.model.DelayFee">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="holding_order_id" jdbcType="INTEGER" property="holdingOrderId" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="delay_fee" jdbcType="DECIMAL" property="delayFee" />
    <result column="broker" jdbcType="INTEGER" property="broker" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, holding_order_id, stock_name, user_id, delay_fee, broker, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from stock_delay_fee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.farmershao.stock.persistence.model.DelayFee" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into stock_delay_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="holdingOrderId != null">
        holding_order_id,
      </if>
      <if test="stockName != null">
        stock_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="delayFee != null">
        delay_fee,
      </if>
      <if test="broker != null">
        broker,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="holdingOrderId != null">
        #{holdingOrderId,jdbcType=INTEGER},
      </if>
      <if test="stockName != null">
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="delayFee != null">
        #{delayFee,jdbcType=DECIMAL},
      </if>
      <if test="broker != null">
        #{broker,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farmershao.stock.persistence.model.DelayFee">
    <!--@mbg.generated-->
    update stock_delay_fee
    <set>
      <if test="holdingOrderId != null">
        holding_order_id = #{holdingOrderId,jdbcType=INTEGER},
      </if>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="delayFee != null">
        delay_fee = #{delayFee,jdbcType=DECIMAL},
      </if>
      <if test="broker != null">
        broker = #{broker,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>