<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmershao.stock.persistence.mapper.RiskManagementMapper">
  <resultMap id="BaseResultMap" type="com.farmershao.stock.persistence.model.RiskManagement">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="min_lr" jdbcType="DECIMAL" property="minLr" />
    <result column="max_lr" jdbcType="DECIMAL" property="maxLr" />
    <result column="default_stop_pr" jdbcType="DECIMAL" property="defaultStopPr" />
    <result column="max_stop_pr" jdbcType="DECIMAL" property="maxStopPr" />
    <result column="min_margin" jdbcType="DECIMAL" property="minMargin" />
    <result column="max_loss_mr" jdbcType="DECIMAL" property="maxLossMr" />
    <result column="keeping_mr" jdbcType="DECIMAL" property="keepingMr" />
    <result column="strategy_max_point" jdbcType="DECIMAL" property="strategyMaxPoint" />
    <result column="user_max_point" jdbcType="DECIMAL" property="userMaxPoint" />
    <result column="user_max_buy" jdbcType="DECIMAL" property="userMaxBuy" />
    <result column="user_max_lose" jdbcType="DECIMAL" property="userMaxLose" />
    <result column="user_max_increase" jdbcType="DECIMAL" property="userMaxIncrease" />
    <result column="user_max_hold" jdbcType="DECIMAL" property="userMaxHold" />
    <result column="is_faker" jdbcType="SMALLINT" property="isFaker" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, min_lr, max_lr, default_stop_pr, max_stop_pr, min_margin, max_loss_mr, keeping_mr, 
    strategy_max_point, user_max_point, user_max_buy, user_max_lose, user_max_increase, 
    user_max_hold, is_faker, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from risk_management
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.farmershao.stock.persistence.model.RiskManagement" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into risk_management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="minLr != null">
        min_lr,
      </if>
      <if test="maxLr != null">
        max_lr,
      </if>
      <if test="defaultStopPr != null">
        default_stop_pr,
      </if>
      <if test="maxStopPr != null">
        max_stop_pr,
      </if>
      <if test="minMargin != null">
        min_margin,
      </if>
      <if test="maxLossMr != null">
        max_loss_mr,
      </if>
      <if test="keepingMr != null">
        keeping_mr,
      </if>
      <if test="strategyMaxPoint != null">
        strategy_max_point,
      </if>
      <if test="userMaxPoint != null">
        user_max_point,
      </if>
      <if test="userMaxBuy != null">
        user_max_buy,
      </if>
      <if test="userMaxLose != null">
        user_max_lose,
      </if>
      <if test="userMaxIncrease != null">
        user_max_increase,
      </if>
      <if test="userMaxHold != null">
        user_max_hold,
      </if>
      <if test="isFaker != null">
        is_faker,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="minLr != null">
        #{minLr,jdbcType=DECIMAL},
      </if>
      <if test="maxLr != null">
        #{maxLr,jdbcType=DECIMAL},
      </if>
      <if test="defaultStopPr != null">
        #{defaultStopPr,jdbcType=DECIMAL},
      </if>
      <if test="maxStopPr != null">
        #{maxStopPr,jdbcType=DECIMAL},
      </if>
      <if test="minMargin != null">
        #{minMargin,jdbcType=DECIMAL},
      </if>
      <if test="maxLossMr != null">
        #{maxLossMr,jdbcType=DECIMAL},
      </if>
      <if test="keepingMr != null">
        #{keepingMr,jdbcType=DECIMAL},
      </if>
      <if test="strategyMaxPoint != null">
        #{strategyMaxPoint,jdbcType=DECIMAL},
      </if>
      <if test="userMaxPoint != null">
        #{userMaxPoint,jdbcType=DECIMAL},
      </if>
      <if test="userMaxBuy != null">
        #{userMaxBuy,jdbcType=DECIMAL},
      </if>
      <if test="userMaxLose != null">
        #{userMaxLose,jdbcType=DECIMAL},
      </if>
      <if test="userMaxIncrease != null">
        #{userMaxIncrease,jdbcType=DECIMAL},
      </if>
      <if test="userMaxHold != null">
        #{userMaxHold,jdbcType=DECIMAL},
      </if>
      <if test="isFaker != null">
        #{isFaker,jdbcType=SMALLINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.farmershao.stock.persistence.model.RiskManagement">
    <!--@mbg.generated-->
    update risk_management
    <set>
      <if test="minLr != null">
        min_lr = #{minLr,jdbcType=DECIMAL},
      </if>
      <if test="maxLr != null">
        max_lr = #{maxLr,jdbcType=DECIMAL},
      </if>
      <if test="defaultStopPr != null">
        default_stop_pr = #{defaultStopPr,jdbcType=DECIMAL},
      </if>
      <if test="maxStopPr != null">
        max_stop_pr = #{maxStopPr,jdbcType=DECIMAL},
      </if>
      <if test="minMargin != null">
        min_margin = #{minMargin,jdbcType=DECIMAL},
      </if>
      <if test="maxLossMr != null">
        max_loss_mr = #{maxLossMr,jdbcType=DECIMAL},
      </if>
      <if test="keepingMr != null">
        keeping_mr = #{keepingMr,jdbcType=DECIMAL},
      </if>
      <if test="strategyMaxPoint != null">
        strategy_max_point = #{strategyMaxPoint,jdbcType=DECIMAL},
      </if>
      <if test="userMaxPoint != null">
        user_max_point = #{userMaxPoint,jdbcType=DECIMAL},
      </if>
      <if test="userMaxBuy != null">
        user_max_buy = #{userMaxBuy,jdbcType=DECIMAL},
      </if>
      <if test="userMaxLose != null">
        user_max_lose = #{userMaxLose,jdbcType=DECIMAL},
      </if>
      <if test="userMaxIncrease != null">
        user_max_increase = #{userMaxIncrease,jdbcType=DECIMAL},
      </if>
      <if test="userMaxHold != null">
        user_max_hold = #{userMaxHold,jdbcType=DECIMAL},
      </if>
      <if test="isFaker != null">
        is_faker = #{isFaker,jdbcType=SMALLINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>